<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

	    <property name="LOG_LEVEL_PATTERN" value="%5p" />
	    <property name="LOG_DIR" value="${LOG_DIR:-logs}" />
	
	    <property name="CONSOLE_LOG_PATTERN_SIMPLE"
	              value="%d{HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN}){faint} %clr(|){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <logger name="org.apache.commons.logging" level="ERROR"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="io.lettuce" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <logger name="party.qwer.iris20q" level="INFO"/>
	    <!-- party.qwer.twentyq log level is controlled by application.yml (LOG_LEVEL env var) -->
	
	    <springProfile name="!test">
	        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	            <file>${LOG_DIR}/20q-kakao-bot.log</file>
	            <immediateFlush>true</immediateFlush>
	            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	                <fileNamePattern>${LOG_DIR}/archived/20q-kakao-bot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	                <maxFileSize>100MB</maxFileSize>
	                <maxHistory>30</maxHistory>
	                <totalSizeCap>3GB</totalSizeCap>
	            </rollingPolicy>
	            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p | %replace(%m){'\r?\n', ' '}%n%wEx</pattern>
	                <charset>UTF-8</charset>
	            </encoder>
	        </appender>
	
	        <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
	            <queueSize>512</queueSize>
	            <discardingThreshold>0</discardingThreshold>
	            <neverBlock>false</neverBlock>
	            <includeCallerData>false</includeCallerData>
	            <maxFlushTime>5000</maxFlushTime>
	            <appender-ref ref="FILE" />
	        </appender>
	
	        <root level="INFO">
	            <appender-ref ref="ASYNC_FILE" />
	        </root>
	    </springProfile>

    <springProfile name="test">
        <appender name="CONSOLE_SIMPLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN_SIMPLE}</pattern>
                <charset>UTF-8</charset>
            </encoder>
	        </appender>
	
	        <appender name="TEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	            <file>${LOG_DIR}/20q-kakao-bot-test.log</file>
	            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	                <fileNamePattern>${LOG_DIR}/archived/20q-kakao-bot-test.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	                <maxFileSize>50MB</maxFileSize>
	                <maxHistory>7</maxHistory>
	                <totalSizeCap>500MB</totalSizeCap>
	            </rollingPolicy>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p | %replace(%m){'\r?\n', ' '}%n%wEx</pattern>
                </layout>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_SIMPLE" />
            <appender-ref ref="TEST_FILE" />
        </root>
    </springProfile>

</configuration>
